{#
 # Index page header
 # -------------------
 #}

{% if craft.locale == 'he' %}
	{% includeCssFile '/styles/hebrew.css' %}
{% endif %}


{% for entry in craft.entries.section('shows').showFeaturedOnHomepage(1).order('showDateEnd').limit(1) %}
	{% set image = entry.showHomepageFeaturedImage.first() %}

{% if image %}
	<header style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/{{ image.url }}) no-repeat center center; background-size: cover;">
	{% else %}
	<header>
	{% endif %}
		<div id="nav" class="">
			{% for image in craft.assets.title('Oz Logo White') %}
			    <a href="/" id="logo"><img src="/{{ image.getUrl() }}" alt="{{ image.title }}"></a>
			{% endfor %}
		
			<ul> 
				{% for entry in craft.entries.section('navigation') %}
					{% for block in entry.navigationLink %}
						<li>
						{% if block.type == "navLink" %}
					         <a href="{{ block.linkUrl }}">{{ block.linkTitle }}</a>
					    {% endif %}
					    </li> 
					{% endfor %}
				{% endfor %}

				{% if craft.locale == 'he' %}
					<li>
						<a href="{{ ll('en_us') }}">English</a>
					</li>
				{% endif %}
				{% if craft.locale == 'en_us' %}
					<li>
						<a href="{{ ll('he') }}">עִברִית</a>
					</li>
				{% endif %}
			</ul>
		</div>
		
		{# if homepage #}
		<div id="featuredBG">
			<a href="{{ entry.url }}">
	        	<h1>{{ entry.title }}</h1>
	        	<h3>{{ entry.showCompanyName }}
	        	{% if craft.locale == 'he' %}
					<span id="dateRange"> | {{ entry.showDateStart | date('j/m ')  }} - {{ entry.showDateEnd | date('j/m')  }}</span>
				{% else %}
					<span id="dateRange"> | {{ entry.showDateStart | date('M j')  }} - {{ entry.showDateEnd | date('M j')  }}</span>
				{% endif %}
				</h3>
				<span class="ticketButton">
					{{ "Find Tickets" | translate }}
				</span>
	        </a>
		</div>

	</header>

{% endfor %}






{# 


{% if craft.locale == 'he' %}
	{% includeCssFile '/styles/hebrew.css' %}
{% endif %}

<header>
	
	<div id="nav" class="darkNav">
		
		{% for image in craft.assets.title('Oz Logo') %}
		    <a href="/" id="logo"><img src="/{{ image.getUrl() }}" alt="{{ image.title }}"></a>
		{% endfor %}
		
		<ul> 
				{% for entry in craft.entries.section('navigation') %}
					{% for block in entry.navigationLink %}
						<li>
						{% if block.type == "navLink" %}
					         <a href="{{ block.linkUrl }}">{{ block.linkTitle }}</a>
					    {% endif %}
					    </li> 
					{% endfor %}
				{% endfor %}
			


				{% if craft.locale == 'he' %}
					<li>
						<a href="{{ ll('en_us') }}">English</a>
					</li>
				{% endif %}
				{% if craft.locale == 'en_us' %}
					<li>
						<a href="{{ ll('he') }}">עִברִית</a>
					</li>
				{% endif %}
			</ul>

	</div>
	{% for entry in craft.entries.section('shows').showFeaturedOnHomepage(1).order('showDateEnd').limit(1) %}
		{% set image = entry.showHomepageFeaturedImage.first() %}
		{% if image %}
			<div id="featuredBG" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/{{ image.url }}) no-repeat center center; background-size: cover;">
		{% else %}
			<div id="featuredBG">
		{% endif %}
		        <a href="{{ entry.url }}">
		        	<h1>{{ entry.title }}</h1>
		        	<h3>{{ entry.showCompanyName }}
		        	{% if craft.locale == 'he' %}
						<span id="dateRange"> | {{ entry.showDateStart | date('j/m ')  }} - {{ entry.showDateEnd | date('j/m')  }}</span>
					{% else %}
						<span id="dateRange"> | {{ entry.showDateStart | date('M j')  }} - {{ entry.showDateEnd | date('M j')  }}</span>
					{% endif %}
					</h3>
					<span class="ticketButton">
						{{ "Find Tickets" | translate }}
					</span>
					</a>
		        </a>

			</div>

	{% endfor %}
</header>
 #}