{#
 # Show entry template
 # -------------------
 #}

{% extends "_layout" %}
{% set title = entry.title %}

{% block head %}
  {% include "_secondHeader.twig" %}
{% endblock %}

{% block content %}
		

{# 
	USE THIS FOR SHOWING A THUMBNAIL IN HOME PAGE OR SHOW LIST

{% set asset = entry.showThumb.first() %}

   <img src="/{{ asset.url }}" alt="">
 #}
<header>
	<h1>{{ entry.title }}</h1>
	<h3>{{ entry.companyName }}, {{ entry.countryOfOrigin }}</h3>
</header>

<section id="content">
	<div class="showInfo">
		{% for block in entry.showMarketing %}
		    {% if block.type == "promoVideo" %}

		        {{ block.video | videoEmbed }}

		    {% elseif block.type == "showImage" %}

				{% set image = block.image.first() %}
				{% if image %}
					<img src="/{{ image.url }}" alt="">
				{% endif %}

		    {% endif %}


		{% endfor %}
	</div>
	<div class="tickets">
		<ul>
			{% for block in entry.performancetickets %}
			    <li>
			    {% if block.type == "performanceInfo" %}

					{{ block.theaterName }} <br>
					{{ block.ticketBuyingLink }} <br>
					{{ block.dateTime }} <br>
					{{ block.showCity }}

			    {% endif %}
			    </li>
			{% endfor %}
		</ul>
	</div>
</section>





{% endblock %}




