{#
 # Show entry template
 # -------------------
 #}

{% extends "_layout" %}
{% set title = entry.title %}

  {% block head %}
  {% include "show/_showHeader.twig" %}
  {% endblock %}

{% block featuredShow %}
{# Replace with whatever header we want for representation #}
{% endblock %}

{% block content %}
		
<article>
	<section id="showTitle">
		<h1>{{ entry.title }}</h1>
		<h3>{{ entry.showCompanyName }}</h3>
		<a href="#tickets" class="ticketButton mobileOnly">
				{{ "Find Tickets" | translate }}
			</a>
	</section>
	<section id="content">
		<div class="showInfo">
			{% for block in entry.showMarketing %}
			    {% if block.type == "showVideos" %}

			        {{ block.videoUrl | videoEmbed }}

			    {% elseif block.type == "showImages" %}

					{% set image = block.image.first() %}
					{% if image %}
						<img src="/{{ image.url }}" alt="">
					{% endif %}

			    {% elseif block.type == "showCopy" %}

					 <p>{{ block.text }}</p>

				{% elseif block.type == "showQuote" %}

					 <h2>"{{ block.quote }}"</h2>
					 <p id="quoteSource">- {{ block.source }}</p>

			    {% endif %}
			{% endfor %}
		</div>
		
		<div class="tickets" id="tickets">
			<h2>{{ "Tickets" | translate }}</h2>
			<ul>
				{% for block in entry.showTicketInformation %}
				    <li>
				    {% if block.type == "ticketInformation" %}

						<a href="{{ block.purchaseLink }}">
							<p id="theater">{{ block.theaterName }}</p>
							<p id="showTime">
							{% if craft.locale == 'he' %}
								{{ block.showDateTime | date('j/m - H:i')  }}
							{% else %}
								{{ block.showDateTime | date('M j, h:i A')  }}
							{% endif %}
							</p>
						</a>

				    {% endif %}
				    </li>
				{% endfor %}
			</ul>
		</div>

	</section>
</article>

{% endblock %}




