{#
 # Secondary header
 # -------------------
 #}


{% if craft.locale == 'he' %}
	{% includeCssFile '/styles/hebrew.css' %}
{% endif %}


{% set image = entry.showHomepageFeaturedImage.first() %}
{% if image %}
<header style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/{{ image.url }}) no-repeat center center; background-size: cover;">
{% else %}
<header>
{% endif %}
	
	<div id="nav">
		
		{% for image in craft.assets.title('Oz Logo White') %}
		    <a href="/" id="logo"><img src="/{{ image.getUrl() }}" alt="{{ image.title }}"></a>
		{% endfor %}
			<ul> 
				{% for entry in craft.entries.section('navigation') %}
					{% for block in entry.navigationLink %}
						<li>
						{% if block.type == "navLink" %}
					         <a href="{{ block.linkUrl }}">{{ block.linkTitle }}</a>
					    {% endif %}
					    </li> 
					{% endfor %}
				{% endfor %}
			


				{% if craft.locale == 'he' %}
					<li>
						<a href="{{ ll('en_us') }}">English</a>
					</li>
				{% endif %}
				{% if craft.locale == 'en_us' %}
					<li>
						<a href="{{ ll('he') }}">עִברִית</a>
					</li>
				{% endif %}
			</ul>
	</div>
</header>

