{#
 # Show representation index template
 # -------------------
 #}

{% extends "_layout" %}

{% block featuredShow %}
{# Replace with whatever header we want for representation #}
{% endblock %}


{% block content %}
<section id="showList">
	<h2>
		{{ "Representation" | translate }}
	</h2>
	{% for entry in craft.entries.section('representation') %}

	<article class="show">
		<div class="left">
				<h2>{{ entry.title }}</h2>
			<h3>{{ entry.representationCompanyLocation }}</h3>
		</div>

		<div class="right">

			{% set image = entry.representationCompanyThumbnail.first() %}
			{% if image %}
			<div class="showThumb" style="background:url(/{{ image.url }}) no-repeat center center; background-size: cover;">
			{% else %}
			<div class="showThumb">
			{% endif %}
			</div>
			<p>{{ entry.representationCompanyText }}</p>
			<a href="{{ entry.representationCompanyLink }}" class="ticketButton">
				{{ "Website" | translate }}
			</a>
		</div>
		
    </article>

	{% endfor %}
</section>

{% endblock %}
